<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Elenco Studenti Iscritti</title>
  <link rel="stylesheet" type="text/css" media="all" href="./css/base.css" th:href="@{/css/base.css}"/>
  <link rel="stylesheet" type="text/css" media="all" href="./css/layout.css" th:href="@{/css/layout.css}" />
  <link rel="stylesheet" type="text/css" media="all" href="./css/form.css" th:href="@{/css/form.css}" />
  <link rel="stylesheet" type="text/css" media="all" href="./css/table.css" th:href="@{/css/table.css}" />
  <link rel="stylesheet" type="text/css" media="all" href="./css/button.css" th:href="@{/css/button.css}" />
  <link rel="stylesheet" type="text/css" media="all" href="./css/verbal.css" th:href="@{/css/verbal.css}" />
</head>
<body>
  <header>
    <h1>MegaloPoli - Iscritti all'appello</h1>
    <div class="home-link">
      <a th:href="@{/GoToHomeProfessor}" class="btn btn-logout">Torna alla Home</a>
    </div>
  </header>
  
  <main>
    <div>
      <h2 th:if="${not #lists.isEmpty(studentTable)}">Elenco Studenti Iscritti all'appello del <span th:text="${date}">2024-06-15</span> del corso <span th:text="${courseName}">Basi di Dati</span></h2>
      <h2 th:if="${#lists.isEmpty(studentTable)}">Non ci sono studenti iscritti all'appello richiesto!</h2>
      <h3 th:if="${publish == 'true'}" class="success-title centering">Pubblicazione avvenuta con successo!</h3>
      <h3 th:if="${publish == 'false'}" class="failure-title centering">Errore: inserisci voti prima di pubblicare!</h3>
      <h3 th:if="${verbalize == 'false'}" class="failure-title centering">Errore: pubblica voti prima di verbalizzare!</h3>
    </div>
    
    <div th:if="${not #lists.isEmpty(studentTable)}" class="table-container">
      <table>
        <thead>
          <tr th:with="
          col=${session.lastOrderCol},
          dir=${session.lastOrderDir}">
            <th>
              <a th:href="@{/OrderStudentTable(selectedCourseID=${courseID}, date=${date}, column='u.matricola')}"
                th:text="${col == 'u.matricola'} 
                          ? 'Matricola ' + (${dir == 'ASC'} ? '▲' : '▼') 
                          : 'Matricola'">
                          MATRICOLA
              </a>
            </th>
            <th>
              <a th:href="@{/OrderStudentTable(selectedCourseID=${courseID}, date=${date}, column='u.cognome')}"
                th:text="${col == 'u.cognome'} 
                          ? 'Cognome ' + (${dir == 'ASC'} ? '▲' : '▼')  
                          : 'Cognome'">
                          COGNOME
              </a>
            </th>
            <th>
              <a th:href="@{/OrderStudentTable(selectedCourseID=${courseID}, date=${date}, column='u.nome')}"
                th:text="${col == 'u.nome'} 
                          ? 'Nome ' + (${dir == 'ASC'} ? '▲' : '▼')  
                          : 'Nome'">
                          NOME
              </a>
            </th>
            <th>
              <a th:href="@{/OrderStudentTable(selectedCourseID=${courseID}, date=${date}, column='u.mail')}"
                th:text="${col == 'u.mail'} 
                          ? 'Email ' + (${dir == 'ASC'} ? '▲' : '▼')  
                          : 'Email'">
                          MAIL
              </a>
            </th>
            <th>
              <a th:href="@{/OrderStudentTable(selectedCourseID=${courseID}, date=${date}, column='u.corso_laurea')}"
                th:text="${col == 'u.corso_laurea'} 
                          ? 'Corso di laurea ' + (${dir == 'ASC'} ? '▲' : '▼')  
                          : 'Corso di laurea'">
                          CORSO DI LAUREA
              </a>
            </th>
            <th>
              <a th:href="@{/OrderStudentTable(selectedCourseID=${courseID}, date=${date}, column='i.voto')}"
                th:text="${col == 'i.voto'} 
                          ? 'Voto ' + (${dir == 'ASC'} ? '▲' : '▼')  
                          : 'Voto'">
                          VOTO
              </a>
            </th>
            <th>
              <a th:href="@{/OrderStudentTable(selectedCourseID=${courseID}, date=${date}, column='i.stato')}"
                th:text="${col == 'i.stato'} 
                          ? 'Stato valutazione ' + (${dir == 'ASC'} ? '▲' : '▼')  
                          : 'Stato valutazione'">
                          STATO VALUTAZIONE
              </a>
            </th>
            <th>AZIONI</th>
          </tr>
        </thead>
        <tbody th:remove="all-but-first">
          <tr th:each="student : ${studentTable}">
            <td th:text="${student.matr}">S123456</td>
            <td th:text="${student.surname}">Rossi</td>
            <td th:text="${student.name}">Marco</td>
            <td th:text="${student.mail}">studente1@uni.it</td>
            <td th:text="${student.course}">Informatica</td>
            <td th:text="${student.grade}">rimandato</td>
            <td th:text="${student.state}" th:class="'state-' + ${student.state.replaceAll(' ', '-')}">verbalizzato</td>
            <td>
              <a th:if="${student.state == 'inserito' or student.state == 'non inserito'}"
                th:href="@{/EditGrade(selectedStudID=${student.id}, selectedCourseID=${courseID}, date=${date})}">
                <button type="button" class="btn btn-sm">Modifica</button>
              </a>
            </td>
          </tr>
          <tr>
            <td>S654321</td>
            <td>Bianchi</td>
            <td>Laura</td>
            <td>studente2@uni.it</td>
            <td>Fisica</td>
            <td>&lt;vuoto&gt;</td>
            <td>non inserito</td>
            <td><button type="button" class="btn btn-sm">Modifica</button></td>
          </tr>
          <tr>
            <td>S100001</td>
            <td>Test1</td>
            <td>Stud1</td>
            <td>studente01@uni.it</td>
            <td>Informatica</td>
            <td>&lt;vuoto&gt;</td>
            <td>non inserito</td>
            <td><button type="button" class="btn btn-sm">Modifica</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    
    <div class="center" th:if="${not #lists.isEmpty(studentTable)}">
        <a th:href="@{/PublishGrades(selectedCourseID=${courseID}, date=${date})}" class="btn btn-primary center">Pubblica i voti inseriti</a>
        <a th:href="@{/VerbalizeGrades(selectedCourseID=${courseID}, date=${date})}" class="btn btn-primary center">Verbalizza i voti pubblicati</a>
    </div>
  </main>
  <footer>
      <p>&copy; 2025 Università MegaloPoli, Milano</p>
  </footer>
</body>
</html>