<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>TIW-MerloRanfoni_JS</display-name>
  <context-param>
    <param-name>dbUrl</param-name>
    <param-value>jdbc:mysql://localhost:3306/dbproject_merlo_ranfoni?serverTimezone=UTC</param-value>
  </context-param>
  <context-param>
    <param-name>dbUser</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>dbPassword</param-name>
    <param-value>password</param-value>
  </context-param>
  <context-param>
    <param-name>dbDriver</param-name>
    <param-value>com.mysql.cj.jdbc.Driver</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>ProfessorAuthFilter</filter-name>
    <filter-class>it.polimi.tiw.filters.ProfessorAuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ProfessorAuthFilter</filter-name>
    <url-pattern>/EditGrade</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ProfessorAuthFilter</filter-name>
    <url-pattern>/GetVerbals</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ProfessorAuthFilter</filter-name>
    <url-pattern>/GoToHomeProfessor</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ProfessorAuthFilter</filter-name>
    <url-pattern>/GoToStudentTable</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ProfessorAuthFilter</filter-name>
    <url-pattern>/GoToVerbalPage</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ProfessorAuthFilter</filter-name>
    <url-pattern>/MultipleGrades</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ProfessorAuthFilter</filter-name>
    <url-pattern>/PublishGrades</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ProfessorAuthFilter</filter-name>
    <url-pattern>/VerbalizeGrades</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>StudentAuthFilter</filter-name>
    <filter-class>it.polimi.tiw.filters.StudentAuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>StudentAuthFilter</filter-name>
    <url-pattern>/GoToHomeStudent</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>StudentAuthFilter</filter-name>
    <url-pattern>/Reject</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>StudentAuthFilter</filter-name>
    <url-pattern>/SearchRound</url-pattern>
  </filter-mapping>
</web-app>